body {
    font-family: Arial, sans-serif;
    background-color: #FDEBD0; 
    color: #fff; 
    margin: 0;
    padding: 0;
}
/*Ares Enrique Farrera Jimenez*/
h2 {
    text-align: center;
    color: #ABB2B9;
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #85C1E9 ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #566573;
}

input[type="text"],
input[type="password"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; 
}
